<!--
  Generated template for the ProdottiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
 <!--codice per uscire le proprietà dei prodotti dal db <li *ngFor="let visualizzaProdottiCompleti of visualizzaProdotti">
              {{ visualizzaProdottiCompleti.datascadenza}}
            </li>-->
<ion-header>

  <ion-navbar>
    <ion-title>Prodotti</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
      <!--<ion-list id="product-List">
        <ion-item  *ngFor="let visualizzaProdottiCompleti of visualizzaProdotti">
              <ion-label>{{visualizzaProdottiCompleti.nome}}</ion-label><br> 
              <ion-radio value="Idoneo"></ion-radio><br>
              <ion-label> <b>Data Scadenza: </b>{{ visualizzaProdottiCompleti.datascadenza}}</ion-label>
              <ion-label> <b>Codice Prodotto: </b>{{ visualizzaProdottiCompleti.codice}}</ion-label> 
        </ion-item>
      </ion-list> -->
      <ion-list >
       <ion-item *ngFor="let visualizzaProdottiCompleti of visualizzaProdotti">
         <ion-card>
            
           <ion-card-header>
            <b>{{visualizzaProdottiCompleti.nome}}</b>
           </ion-card-header>
           <ion-card-content>
              <b>DataScadenza: </b><p>{{ visualizzaProdottiCompleti.datascadenza}}</p>
              <b>CodiceProdotto: </b> <p>{{ visualizzaProdottiCompleti.codice}}</p> 
              <b>Idoneo: </b> <p>{{ visualizzaProdottiCompleti.idoneo}}</p> 
              <ion-item>
                  <ion-radio  value="Idoneo" (click)="InserisciProdottiIdonei(visualizzaProdottiCompleti.codice)"></ion-radio>
               </ion-item>
           </ion-card-content>
        
         </ion-card>
       
       </ion-item>
      </ion-list>
     <!--<button ion-button full color="light" (click)="visProd()">Prodotti</button>-->
     <button ion-button full color="light" (click)="inviaProd()">InviaProdottiIdonei</button>
</ion-content>
